# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv', sep = ',')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv', sep = ',')
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.dropna(axis = 'columns')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [7]:
len(cars1.columns)
len(cars2.columns)

14

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
Total_cars = cars1 + cars2
Total_cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,36.0,16,614,130130,7008,24.0,140,2,chevrolet chevelle malibuchevrolet chevelle ma...,NaN,NaN,NaN,NaN,NaN
1,30.0,16,700,165165,7386,23.0,140,2,buick skylark 320buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,36.0,16,636,150150,6872,22.0,140,2,plymouth satelliteplymouth satellite,NaN,NaN,NaN,NaN,NaN
3,32.0,16,608,150150,6866,24.0,140,2,amc rebel sstamc rebel sst,NaN,NaN,NaN,NaN,NaN
4,34.0,16,604,140140,6898,21.0,140,2,ford torinoford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,48.0,12,400,8181,6024,35.2,152,2,ford maverickford maverick,NaN,NaN,NaN,NaN,NaN
194,45.0,12,464,9090,6170,35.2,152,2,amc hornetamc hornet,NaN,NaN,NaN,NaN,NaN
195,58.0,8,170,5252,4070,44.4,152,2,chevrolet chevettechevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,49.0,8,196,6060,4328,44.2,152,2,chevrolet woodychevrolet woody,NaN,NaN,NaN,NaN,NaN
197,58.0,8,180,7070,3874,28.4,152,4,vw rabbitvw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
Total_cars.dropna(axis = 'columns')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,36.0,16,614,130130,7008,24.0,140,2,chevrolet chevelle malibuchevrolet chevelle ma...
1,30.0,16,700,165165,7386,23.0,140,2,buick skylark 320buick skylark 320
2,36.0,16,636,150150,6872,22.0,140,2,plymouth satelliteplymouth satellite
3,32.0,16,608,150150,6866,24.0,140,2,amc rebel sstamc rebel sst
4,34.0,16,604,140140,6898,21.0,140,2,ford torinoford torino
...,...,...,...,...,...,...,...,...,...
193,48.0,12,400,8181,6024,35.2,152,2,ford maverickford maverick
194,45.0,12,464,9090,6170,35.2,152,2,amc hornetamc hornet
195,58.0,8,170,5252,4070,44.4,152,2,chevrolet chevettechevrolet chevette
196,49.0,8,196,6060,4328,44.2,152,2,chevrolet woodychevrolet woody
197,58.0,8,180,7070,3874,28.4,152,4,vw rabbitvw rabbit

### Step 8. Add the column owners to cars

In [19]:
Total_cars['owners'] = Total_cars.apply(lambda x: '', axis = 1)
Total_cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,owners
0,36.0,16,614,130130,7008,24.0,140,2,chevrolet chevelle malibuchevrolet chevelle ma...,NaN,NaN,NaN,NaN,NaN,
1,30.0,16,700,165165,7386,23.0,140,2,buick skylark 320buick skylark 320,NaN,NaN,NaN,NaN,NaN,
2,36.0,16,636,150150,6872,22.0,140,2,plymouth satelliteplymouth satellite,NaN,NaN,NaN,NaN,NaN,
3,32.0,16,608,150150,6866,24.0,140,2,amc rebel sstamc rebel sst,NaN,NaN,NaN,NaN,NaN,
4,34.0,16,604,140140,6898,21.0,140,2,ford torinoford torino,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,48.0,12,400,8181,6024,35.2,152,2,ford maverickford maverick,NaN,NaN,NaN,NaN,NaN,
194,45.0,12,464,9090,6170,35.2,152,2,amc hornetamc hornet,NaN,NaN,NaN,NaN,NaN,
195,58.0,8,170,5252,4070,44.4,152,2,chevrolet chevettechevrolet chevette,NaN,NaN,NaN,NaN,NaN,
196,49.0,8,196,6060,4328,44.2,152,2,chevrolet woodychevrolet woody,NaN,NaN,NaN,NaN,NaN,
197,58.0,8,180,7070,3874,28.4,152,4,vw rabbitvw rabbit,NaN,NaN,NaN,NaN,NaN,